@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

main {
	width: 100vw;
	height: 100vh;
	background-color: hsl(185, 41%, 84%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	font-family: "Space Mono", monospace;
}

.title {
	color: hsl(183, 100%, 15%);
	letter-spacing: 8px;
	font-size: 20px;
}

.container {
	display: flex;
	background-color: hsl(0, 0%, 100%);
	gap: 20px;
	padding: 20px;
	border-radius: 15px;
}

.containerRight {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: hsl(183, 100%, 15%);
	padding: 20px;
	border-radius: 15px;
	width: 300px;
}

.containerRight-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.containerRight-item p {
	font-size: 12px;
	color: hsl(0, 0%, 100%);
}

.containerRight-item span {
	color: hsl(186, 14%, 43%);
}

.containerRight-item h1 {
	font-size: 40px;
	color: hsl(172, 67%, 45%);
}

.containerRight-btn {
	background-color: hsl(183, 100%, 23%);
	color: hsl(183, 100%, 15%);
	position: relative;
}

.containerRight-btn:hover {
	background-color: hsl(172, 67%, 45%);
}

button {
	background-color: hsl(183, 100%, 15%);
	border-radius: 3px;
	border: none;
	padding: 5px;
	font-family: "Space Mono", monospace;
	cursor: pointer;
}

.buttonsGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.percBtn {
	color: hsl(0, 0%, 100%);
	min-width: 100px;
}

.percBtn:hover {
	color: hsl(183, 100%, 15%);
	background-color: hsl(172, 67%, 45%);
}

.customBtn {
	color: hsl(186, 14%, 43%);
	background-color: hsl(185, 41%, 84%);
	max-width: 100px;
	text-align: center;
}

.containerLeft p {
	font-size: 12px;
	color: hsl(186, 14%, 43%);
	margin-bottom: 10px;
	margin-top: 15px;
}

.containerLeft input {
	width: 100%;
	text-align: end;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: hsl(185, 41%, 84%);
	padding: 5px 10px;
	font-family: "Space Mono", monospace;
	color: hsl(183, 100%, 15%);
}

input.correctValue {
	border: 2px solid hsl(172, 67%, 45%);
}

input.wrongValue {
	border: 2px solid hsl(0, 67%, 45%);
}

@media (max-width: 700px) {
	.container {
		flex-direction: column;
		width: 100vw;
		max-width: 400px;
	}

	.containerRight {
		width: 100%;
	}

	.customBtn {
		max-width: 100%;
	}

	.containerRight-btn {
		margin-top: 20px;
	}
}

@media (max-width: 425px) {
	.buttonsGrid {
		grid-template-columns: 1fr 1fr;
	}

	.customBtn {
		max-width: 100%;
	}

	.containerRight-btn {
		margin-top: 20px;
	}
}
